:root {
    /*main colors*/
    --green_dark: #58cc02;
    --green_light: #89e219;
    --of_Black: #4b4b4b;
    --white: #FFFFFF;
    /*secondary colors*/
    --blue: #1cb0f6;
    --red: #ff4b4b;
    --yellow: #ffc800;
    --orange: #ff9600;
    --purple: #ce82ff;
    --darkblue: #2b70c9;
    /*neutrals colors*/
    --grey1: #777777;
    --grey2: #AFAFAF;
    --grey3: #e5e5e5;
    --grey4: #f7f7f7;

    --font: Nunito;
  }

  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:wght@600&family=Rokkitt:wght@266;400;600&display=swap');
@font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('Nunito/Nunito-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('/Assets/Nunito/ttf/Nunito-Regular.ttf') format('truetype'),
    url('/Assets/Nunito/woff/Nunito-Regular.woff') format('woff')
    ;
  }

  @font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('Nunito/Nunito-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('Nunito/Nunito-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('Nunito/Nunito-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('.../Nunito/Nunito-MediumItalic.ttf') format('truetype');
  }
  
h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 41px;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 27px;
}

main{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    height: auto;
    flex-direction: column;
}
header{
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    margin-top: 20px;
    position: sticky;
}

article{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--of_Black);
  width: 50%;
}

section{
  flex-basis: 100%;
}

.button-big{
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 13px;
    padding: 8px 15px;
    text-transform: lowercase;
    border-radius: 8px;
    background-color: var(--green_light);
    color: var(--white);
    border: none;
    box-shadow: 0px 5px 0px 0px var(--green_dark);
}

.source{
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
}
#source{
  color: var(--green_dark);
}
.popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid var(--grey2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2px 30px;
  border-radius: 4px;
  z-index: 1000;
  top: 139px;
  left: 95px;
}

.popup .close-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  font-family: "Nunito";
  color: var(--grey2);
  font-size: 16px;
}

#scrolly{
  position: absolute;
}
