:root {
    /*main colors*/
    --green_dark: #58cc02; /*intro*/
    --green_light: #89e219;
    --of_Black: #4b4b4b;
    --white: #FFFFFF;
    /*secondary colors*/
    --blue: #1cb0f6;
    --red: #ff4b4b; /*negative*/
    --darkred:#ea2b2b;
    --yellow: #ffc800;
    --orange: #ff9600;
    --darkorange:#CD7800;/*psychology*/
    --purple: #ce82ff;
    --darkpurple: #9069cd;
    --darkblue: #2b70c9;
    --darkerblue: #1453a3;
    /*neutrals colors*/
    --grey1: #777777;
    --grey2: #AFAFAF;
    --grey3: #e5e5e5;
    --grey4: #f7f7f7;

    --font: Nunito;
  }

  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:wght@600&family=Rokkitt:wght@266;400;600&display=swap');

  
h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    text-transform: lowercase;
    font-size: 40px;
    text-align: center;
    margin: 30px 0 0 0;
}

h3{
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-transform: lowercase;
  font-size: 27px;
  margin: 0;
}
#thin{
 font-weight: 600;
}
h4{
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}

h5{
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin: 1rem 0 -1rem;
}

p,ul {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--of_Black);
  position: relative;
  line-height: 1.55;
}

#bold{
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
}
main{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    height: auto;
    flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}
.header-box{

  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  z-index: 1000;
}
header{
    display: flex;
    justify-content: flex-end;
    padding: 2% 0;
}

.header-content{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  justify-content: end;
  background-color: var(--grey4);
  padding: 0 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px 0px #AFAFAF;
  justify-content: space-between;
}

.chapter-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chapter-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 35px; 
  justify-content: center;
  position: relative;
}

.chapter-menu ul::before {
  content: '';
  position: absolute;
  top: -150px;
  transform: rotate(90deg);
  width: 2px;
  background-color: var(--grey2);
  z-index: -1;
  height: 318px;
}

.chapter-point {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--grey2);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 3px 0px 0px var(--grey1);
}


.chapter-point.visited {
  background-color: var(--chapter-color);
  box-shadow: 0px 3px 0px 0px var(--chapter-color);
}

.chapter-point.active {
  width: 25px; 
  height: 25px;
  top: -4px;
}

.chapter-point:hover {
  background-color: var(--chapter-color);
  transform: scale(1.2); 
}
 
.chapter-point::after {
  content: attr(data-title);
  position: absolute;
  left:50%;
  z-index: 200;
  transform: translateY(-50%);
  background-color: var(--grey4);
  color: var(--green_light);
  box-shadow: 0px 5px 0px 0px var(--green_dark);
  font-size: 13px;
  font-family: "Nunito";
  padding: 4px 8px;
  border: 1px solid var(--green_dark);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  text-align: center;
  max-width: 70px;
}

.chapter-point:hover::after {
  opacity: 1;
}

.chapter-intro.visited {
  background-color: var(--green_light);
  box-shadow: 0px 3px 0px 0px var(--green_dark);
}

.chapter-deconstruct.visited {
  background-color: var(--yellow);
  box-shadow: 0px 3px 0px 0px var(--orange);
}

.chapter-elements.visited {
  background-color: var(--purple); 
  box-shadow: 0px 3px 0px 0px var(--darkblue);
}

.chapter-psycho.visited {
  background-color: var(--orange);
  box-shadow: 0px 3px 0px 0px var(--red);
}

.chapter-critic.visited {
  background-color: var(--blue);
  box-shadow: 0px 3px 0px 0px var(--darkblue);
}

.chapter-conclusion.visited {
  background-color: #8a2be2; /* Blue Violet */
}

.title{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.line{
  flex-basis: 250%;
  border-radius: 2px;
  height: 3px;
}

.fine-line{
  width: 100%;
  height: 2px;
  background-color: var(--grey2);
  border-radius: 3px;
  margin: 60px 0;
}

.kapitel{
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

#kapitel-icon{
  width: 30px;
}
#intro-box{
  background-color: var(--grey4);
  padding: 100px 0;
}

#intro_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 5%;
}


article{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--of_Black);
  width: 50%;
  position: relative;
}

.text-center{
  flex-basis: 50%;
  margin: 0 auto;
}

section{
  flex-basis: 100%;
}

.button-big {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 12px;
  padding: 8px 15px;
  text-transform: lowercase;
  border-radius: 8px;
  background-color: var(--green_light); 
  color: var(--white);
  border: none;
  box-shadow: 0px 5px 0px 0px var(--green_dark);
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer;
}

.button-big:hover {
  background-color: var(--green_dark); 
  box-shadow: 0px 5px 0px 0px var(--green_light);
  color: var(--grey4);
}
.button-big:active {
  background-color: var(--white); 
  box-shadow: 0px 2px 0px 0px var(--green_light); 
  color: var(--green_light);
  border: 1px solid var(--green_light);
  transform: translateY(3px); 
}

.button-skip {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 12px;
  padding: 8px 15px;
  text-transform: lowercase;
  border-radius: 8px;
  background-color: var(--white); 
  color: var(--darkpurple);
  border: 2px solid var(--darkpurple);
  box-shadow: 0px 5px 0px 0px var(--darkpurple);
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer;
  position: sticky; 
  top:90%;
}

.button-skip:hover {
  background-color: var(--darkpurple); 
  box-shadow: 0px 3px 0px 0px var(--purple);
  color: var(--grey4);
}
.button-skip:active {
  background-color: var(--white); 
  box-shadow: 0px 2px 0px 0px var(--darkpurple); 
  color: var(--darkpurple);
  border: 1px solid var(--darkpurple);
  transform: translateY(3px); /* Visueller "Klick-Effekt" */
}

.button-small {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 10px;
  padding: 5px 12px;
  text-transform: lowercase;
  border-radius: 6px;
  background-color: var(--white);
  color: var(--green_light);
  border: 1px solid var(--grey3);
  box-shadow: 0px 4px 0px 0px var(--grey3);
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer;
}

.button-small:hover {
  background-color: var(--grey4); 
  
}
.button-small:active {
  background-color: var(--white); 
  box-shadow: 0px 2px 0px 0px var(--green_light); 
  color: var(--green_light);
  border: 1px solid var(--green_light);
  transform: translateY(3px); /* Visueller "Klick-Effekt" */
}

.source{
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
}
#source{
  color: var(--blue);
  text-decoration: none;
  font-weight: 700;
}

#reference{
  gap:15px;
  margin: 15px 0;
}
.popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid var(--grey2);
  box-shadow: 0px 2px 0px 0px var(--grey2);
  padding: 8px 46px 8px 30px;
  border-radius: 10px;
  top: 125px;
  z-index: 1000;
  left: 95px;
}

.popup .close-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 7px;
  font-family: "Nunito";
  color: var(--grey3);
  font-size: 21px;
  top: 5px;
}

/*deconstructing the interface*/
#deconstruct{
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

.side-box-text{
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  border: 3px solid var(--grey3);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 6px 0px 0px var(--grey3);
  flex-shrink: 0;
}

.side-box-image{
  display: flex;
  flex-basis: 100%;
  overflow: auto;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.scroll-image{
  width: 1200px;
  height: 800px;
}
/*Scrollytelling Rad*/
#elements{
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

.stopper{
  width: 100%;
  height:50px;
}
.wheel {
  position: static;
  left: -295px;
  top: 93%;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  overflow: visible;
}
.segment {
  fill: rgb(255, 0, 0);
  transition: transform 0.3s, fill 0.3s;
}
.segment.active {
  fill: orange;
  transform: scale(1.2) translateY(-9%) translateX(-8.5%);
}
.wheel-information {
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 100%;
  height: 100vh;
  align-items: center;
  
}
.wheel-text {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  border: 3px solid var(--grey3);
  padding: 30px 30px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 6px 0px 0px var(--grey3);
}

.wheel-graphic{
  width: 25%;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 20px;
}

.wheel-graphic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wheel-graphic video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*SCROLLYTELLING Psychology*/
#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.step div {
  position: sticky; /* Sticky innerhalb von .step */
  top: 20%; /* Startpunkt beim Scrollen */
}
figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}
.step{
  position: relative;
  margin-top: 120px;
}

.step:last-child {
  margin-bottom: 0;
}


.graphic {
  display: none; /* Alle Grafiken standardmäßig ausblenden */
}

.graphic.is-visible {
  display: block; /* Sichtbar machen, wenn aktiv */
}

footer{
  background-color: var(--green_dark);
  color: var(--white);
  width: 100%;
}

.footer-container{
  display: flex;
  margin: auto;
  padding: 0;
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--white);
}
.footer-content{
  flex-basis: 50%;
  font-family: "Nunito";
  flex-grow: 0;
  flex-shrink: 0;
}