:root {
    /*main colors*/
    --green_dark: #58cc02; /*intro*/
    --green_light: #89e219;
    --of_Black: #4b4b4b;
    --white: #FFFFFF;
    /*secondary colors*/
    --blue: #1cb0f6;
    --red: #ff4b4b; /*negative*/
    --yellow: #ffc800;
    --orange: #ff9600;/*psychology*/
    --purple: #ce82ff;
    --darkblue: #2b70c9;
    /*neutrals colors*/
    --grey1: #777777;
    --grey2: #AFAFAF;
    --grey3: #e5e5e5;
    --grey4: #f7f7f7;

    --font: Nunito;
  }

  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:wght@600&family=Rokkitt:wght@266;400;600&display=swap');
@font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('Nunito/Nunito-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('/Assets/Nunito/ttf/Nunito-Regular.ttf') format('truetype'),
    url('/Assets/Nunito/woff/Nunito-Regular.woff') format('woff')
    ;
  }

  @font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('Nunito/Nunito-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('Nunito/Nunito-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('Nunito/Nunito-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('Nunito/ttf/Nunito-Black.ttf') format('truetype');
  }

  @font-face {
    font-family: "Nunito",sans-serif;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('.../Nunito/Nunito-MediumItalic.ttf') format('truetype');
  }
  
h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 40px;
}

h3{
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  text-transform: lowercase;
  font-size: 27px;
  margin: 0;
}

#bold{
  font-weight: 700;
}

body{
  padding: 0;
  margin: 0;
}
main{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    height: auto;
    flex-direction: column;
}
header{
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: flex-end;
    margin-top: 70px;
    position: fixed;
    z-index: 1000;
}

.chapter-menu {
  position: fixed;
  top: 45%;
  left: 91%;
  z-index: 1;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chapter-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 35px; 
  align-items: center;
  position: relative;
}

.chapter-menu ul::before {
  content: '';
  position: absolute;
  top: 50%; /* Horizontale Ausrichtung */
  left: 50%; /* Linksbündigkeit sicherstellen */
  transform: translate(-50%, -50%);
  width: 2px; /* Dicke der Linie */
  height: 100%; /* Linie erstreckt sich über alle Punkte */
  background-color: var(--grey2); /* Farbe der Linie */
  z-index: -1; /* Linie hinter die Punkte legen */
}

.chapter-point {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--grey2);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.chapter-point.visited {
  background-color: var(--chapter-color);
}

.chapter-point.active {
  width: 25px; 
  height: 25px;
}

.chapter-point:hover {
  background-color: var(--chapter-color);
  transform: scale(1.2); 
}
 
.chapter-point::after {
  content: attr(data-title);
  position: absolute;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--grey4);
  color: var(--green_light);
  box-shadow: 0px 5px 0px 0px var(--green_dark);
  font-size: 13px;
  font-family: "Nunito";
  padding: 4px 8px;
  border: 1px solid var(--green_dark);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  text-align: center;
  max-width: 70px;
}

.chapter-point:hover::after {
  opacity: 1;
}

.chapter-intro.visited {
  background-color: var(--green_light); /* Tomato */
}

.chapter-elements.visited {
  background-color: var(--yellow); /* Lime Green */
}

.chapter-elements.visited {
  background-color: var(--purple); /* Lime Green */
}

.chapter-psychology.visited {
  background-color: var(--orange); /* Steel Blue */
}

.chapter-case.visited {
  background-color: #ffa500; /* Orange */
}

.chapter-conclusion.visited {
  background-color: #8a2be2; /* Blue Violet */
}

#intro-box{
  background-color: var(--grey4);
  padding: 100px 0;
}

#intro_content{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}

article{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--of_Black);
  width: 50%;
  position: relative;
}

.text-center{
  flex-basis: 50%;
  margin: 0 auto;
}

section{
  flex-basis: 100%;
}

.button-big {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 13px;
  padding: 8px 15px;
  text-transform: lowercase;
  border-radius: 8px;
  background-color: var(--green_light); 
  color: var(--white);
  border: none;
  box-shadow: 0px 5px 0px 0px var(--green_dark);
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer;
}

.button-big:hover {
  background-color: var(--green_dark); 
  box-shadow: 0px 5px 0px 0px var(--green_light);
  color: var(--grey4);
}
.button-big:active {
  background-color: var(--white); 
  box-shadow: 0px 2px 0px 0px var(--green_light); 
  color: var(--green_light);
  border: 1px solid var(--green_light);
  transform: translateY(3px); /* Visueller "Klick-Effekt" */
}
.source{
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
}
#source{
  color: var(--green_dark);
}
.popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid var(--grey2);
  box-shadow: 0px 2px 0px 0px var(--grey2);
  padding: 8px 46px 8px 30px;
  border-radius: 10px;
  top: 125px;
  z-index: 1000;
  left: 95px;
}

.popup .close-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 7px;
  font-family: "Nunito";
  color: var(--grey3);
  font-size: 21px;
  top: 5px;
}

/*Scrollytelling Rad*/
.wheel {
  position: fixed;
  left: -50px; /* Damit es seitlich abgeschnitten ist */
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
}
.cls-2 {
  fill: rgb(255, 0, 0);
  transition: transform 0.3s, fill 0.3s;
}
.cls-2.active {
  fill: orange;
  transform: scale(1.2); /* Vergrößert das aktive Stück */
}
.text-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}


/*SCROLLYTELLING Psychology*/
#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.step div {
  position: sticky; /* Sticky innerhalb von .step */
  top: 20%; /* Startpunkt beim Scrollen */
}
figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #8a8a8a;
  z-index: 0;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}
.step{
  position: relative;
  margin-top: 120px;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  /*background-color: var(--yellow);*/
}

footer{
  background-color: var(--green_dark);
  color: var(--white);
  width: 100%;
}

.footer-container{
  display: flex;
  margin: auto;
  padding: 0;
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-content{
  flex-basis: 50%;
  font-family: "Nunito";
  flex-grow: 0;
  flex-shrink: 0;
}